:root {
  --font-body: 'Inter', system-ui, sans-serif;
  --font-brand: 'Montserrat', system-ui, sans-serif;

  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 12px;
  --space-md: 16px;
  --space-lg: 20px;
  --space-xl: 24px;
  --space-xxl: 32px;
  --space-xxxl: 40px;

  --font-xs: 0.75rem; /* 12px */
  --font-sm: 0.875rem; /* 14px */
  --font-md: 1rem; /* 16px */
  --font-lg: 1.25rem; /* 20px */
  --font-xl: 1.5rem; /* 24px */
  --font-xxl: 2rem; /* 32px */
  --font-xxxl: 2.5rem; /* 40px */

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 20px;

  --padding-xs: 4px;
  --padding-sm: 8px;
  --padding-ms: 12px;
  --padding-md: 16px;
  --padding-lg: 20px;
  --padding-xl: 24px;
  --padding-xxl: 32px;

  --margin-xs: 4px;
  --margin-sm: 8px;
  --margin-ms: 12px;
  --margin-md: 16px;
  --margin-lg: 20px;
  --margin-xl: 24px;
  --margin-xxl: 32px;
}

:root.theme-light {
  --bg-darkest: hsla(187, 5%, 88%);
  --bg-dark: hsla(187, 10%, 93%);
  --bg-medium: hsla(187, 5%, 95%);
  --bg-light: hsla(187, 5%, 98%);
  --bg-nav: var(--bg-medium);

  --color-border: hsla(197, 10%, 80%);

  --color-brand-primary: hsla(187, 74%, 39%, 1);

  --color-active-pagination-bg: var(--color-brand-primary);
  --color-active-pagination-border: var(--color-border);

  --color-text-primary: hsla(0, 0%, 10%);
  --color-text-secondary: hsla(0, 0%, 30%);
  --color-text-dim: hsla(0, 0%, 60%);

  --button-success-bg: hsla(187, 50%, 40%);
  --button-success-bg-hover: hsla(187, 50%, 50%);
  --button-success-border: hsla(187, 50%, 60%);
  --button-success-border-hover: hsla(187, 50%, 70%);

  --button-danger-bg: hsla(0, 50%, 40%);
  --button-danger-bg-hover: hsla(0, 50%, 50%);
  --button-danger-border: hsla(0, 50%, 60%);
  --button-danger-border-hover: hsla(0, 50%, 70%);

  --button-primary-bg: hsl(214, 50%, 40%);
  --button-primary-bg-hover: hsl(214, 50%, 50%);
  --button-primary-border: hsl(214, 50%, 60%);
  --button-primary-border-hover: hsl(214, 50%, 70%);

  --button-primary-bg: hsl(187, 50%, 40%);
  --button-primary-bg-hover: hsl(187, 50%, 50%);
  --button-primary-border: hsl(187, 50%, 60%);
  --button-primary-border-hover: hsl(187, 50%, 70%);
}

:root.theme-dark {
  --bg-darkest: hsla(187, 3%, 3%);
  --bg-dark: hsla(187, 4%, 9%);
  --bg-medium: hsla(187, 7%, 14%);
  --bg-light: hsla(187, 10%, 19%);
  --bg-nav: hsla(0, 0%, 20%);
  --bg-nav: var(--bg-medium);

  --color-border: hsla(187, 10%, 20%);

  --color-brand-primary: hsla(187, 74%, 39%, 1);

  --color-active-pagination-bg: var(--bg-light);
  --color-active-pagination-border: var(--color-brand-primary);

  --color-text-primary: hsla(0, 0%, 95%);
  --color-text-secondary: hsla(0, 0%, 75%);
  --color-text-dim: hsla(0, 0%, 40%);

  --button-success-bg: hsla(187, 50%, 20%);
  --button-success-bg-hover: hsla(187, 50%, 25%);
  --button-success-border: hsla(187, 50%, 30%);
  --button-success-border-hover: hsla(187, 50%, 35%);

  --button-danger-bg: hsla(0, 50%, 20%);
  --button-danger-bg-hover: hsla(0, 50%, 25%);
  --button-danger-border: hsla(0, 50%, 30%);
  --button-danger-border-hover: hsla(0, 50%, 35%);

  --button-primary-bg: hsl(187, 50%, 20%);
  --button-primary-bg-hover: hsl(187, 50%, 25%);
  --button-primary-border: hsl(187, 50%, 30%);
  --button-primary-border-hover: hsl(187, 50%, 35%);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100vh;
}

body {
  background-color: var(--bg-darkest);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  color: var(--color-text-primary);
  line-height: 1.5;
  font-family: var(--font-body);
}

body.no-scroll {
  overflow: hidden;
  height: 100vh; /* prevents elastic scroll on iOS */
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
