/* Customizing Bootstrap Pagination Styles */

/* Base styles for .page-item .page-link */
.pageItem .pageLink {
  padding: 8px 5px;
  background-color: #f8f9fa;
  color: black;
  cursor: pointer;
  width: 40px;
  text-align: center;
  border: none;
}

/* Styles for active state: .page-item.active .page-link */
.pageItemActive .pageLink {
  background-color: lightgray;
  color: black;
}

/* Styles for disabled state: .page-item.disabled .page-link */
.pageItemDisabled .pageLink {
  color: #9ca5ae;
  pointer-events: none;
}

/* Hover state for .page-link*/
.pageLink:hover {
  background-color: #e9ecef;
}

/* Hover state for active link: .page-item.active .page-link:hover */
.pageItemActive .pageLink:hover {
  background-color: lightgrey;
}

/* Focus state for .page-link */
.pageLink:focus {
  outline: none;
  box-shadow: none;
}
