.container {
  position: relative;
  max-width: 600px;
  margin: auto;
  margin-bottom: 40px;
}

.iconContainer {
  position: absolute;
  left: 0; /* Align the container to the left */
  height: 100%; /* Match the height of the input field */
  /* background-color: #dddddd;  */
  padding: 10px; /* Optional: Adjust padding for better spacing */
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.icon {
  width: 16px;
  height: 16px;
}

.input {
  padding-left: 30px; /* Add space for the icon */
  width: 100%;
  border-radius: 20px;
}
